<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bedtime Stories (Chaos Edition)</title>
<link rel="stylesheet" href="../static/style.css">
<link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
<style> 
  @keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(720deg); }
  }
  .rotate-image {
    animation: rotate 4s 2;
  }
  
</style>
</head>
<body>  

<img src="../static/images/test.png" alt="Rotating Image" class="rotate-image">

  <script>
    setTimeout(function() {
      window.location.href = "firstPage.html";
    }, 3900);
  </script>
</body>
</html>
