<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bedtime Stories (Chaos Edition)</title>
<link rel="stylesheet" href="../static/style2.css">
<link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
</head>
<body id="last">  
    <div class="game-container">
        <p>Last Result</p>
        <button id="replay">Replay</button>
    </div>
  </div>
<script>
    document.getElementById("start").addEventListener("click", function() {
      window.location.href = "gamePage.html";
    })
  </script>
</body>
</html>